.container {
  margin-top: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.image {
  flex-grow: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 50%;
}

.info p {
  width: 60%;
}

.image img {
  width: 600px;
  height: auto;
}
