.container {
  margin-top: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.colcontainer {
  display: flex;
  padding-left: 20vh;
  justify-content: center;
  flex-direction: column;
}


.image {
  flex-grow: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top: 10vh;
  width: 60%;
}

.info p {
  width: 60%;
}

.image img {
  width: 65vh;
  height: auto;
}
